/finance.jks
/compilerconfig.json
/compilerconfig.json.defaults
/.vs
/finance.sln
/build.json
/platforms/@backup
/platforms/android/.gradle
/platforms/android/cordova
/platforms/android/CordovaLib
/platforms/android/gradle
/platforms/android/platform_www
/platforms/android/.gitignore
/platforms/android/android.iml
/platforms/android/android.json
/platforms/android/build.gradle
/platforms/android/debug-signing.properties
/platforms/android/gradlew
/platforms/android/gradlew.bat
/platforms/android/local.properties
/platforms/android/project.properties
/platforms/android/release-signing.properties
/platforms/android/settings.gradle
/platforms/android/wrapper.gradle
/platforms/android/.idea
/platforms/android/build
/data/backups
/platforms/android/app/build
/platforms/android/app/app.iml
/platforms/android/app/build.gradle
